# This is a basic workflow to help you get started with Actions
name: Umusa Daily File Uploader

# Controls when the workflow will run
on:
  workflow_dispatch:
  # Define schedule for cron job
  schedule:
    - cron: '0 4-18 * * *' # Runs from 4am UTC to 6pm UTC Daily

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Environment variables to pass to the job
    env:
      UMUSA_SECRET: ${{ secrets.UMUSA_SECRET }}
      SERVICEM8_SECRET: ${{ secrets.SERVICEM8_SECRET }}
      UMUSA_AZURE: ${{ secrets.UMUSA_AZURE }}

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3

      # Set up Python
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'
          cache: 'pip'

      # Restore cached dependencies
      - name: Restore cached dependencies
        uses: actions/cache@v4
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('config/requirements.txt') }}
            
      # Install dependencies
      - name: Install dependencies
        run: pip install -r config/requirements.txt

      # Cache dependencies for future runs
      - name: Cache dependencies
        uses: actions/cache@v4
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('config/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-

      # Runs a single command using the runners shell
      - name: File Uploader
        run: python file_uploader/file_uploader.py
        continue-on-error: true
      
      # Stage and commit changes
      - name: Commit changes
        run: |
          git config --global user.email "actions@github.com"
          git config --global user.name "GitHub Actions"
          git add .
          git commit -m "Update last_run.json"
      
      # Push changes back to repository
      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
