# This is a basic workflow to help you get started with Actions

name: Umusa Weekly Inventory Usage

# Controls when the workflow will run
on:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

  # Define schedule for cron job
  schedule:
   - cron: '0 2 * * *' # Runs every midnight on Sundays

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Environment variables to pass to the job
    env:
      UMUSA_SECRET: ${{ secrets.UMUSA_SECRET }}
      SERVICEM8_SECRET: ${{ secrets.SERVICEM8_SECRET }}

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3

      # Set up Python
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'
          cache: 'pip'

      # Restore cached dependencies
      - name: Restore cached dependencies
        uses: actions/cache@v4
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('config/requirements.txt') }}
            
      # Install dependencies
      - name: Install dependencies
        run: pip install -r config/requirements.txt

      # Cache dependencies for future runs
      - name: Cache dependencies
        uses: actions/cache@v4
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('config/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-

      # Runs a single command using the runners shell
      - name: Inventory Manager
        run: python inventory_manager/inventory.py
